@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background:#F0F0F0;
  overflow-x: hidden;
}



@layer components {
  .nav-btn {
    @apply border border-gray-400 px-2  rounded-md 
      text-gray-700 transition-colors duration-200;
  }

  .nav-btn:hover {
    @apply border-laranja-500 text-laranja-600 bg-laranja-100;
  }

  .nav-btn:active {
    @apply border-laranja-700 text-laranja-700;
  }
}

@layer components {
  .badge {
    @apply absolute top-2 right-4 bg-branco-100  text-sm px-2 py-1 rounded-full shadow flex items-center gap-2;
  }

  /* Verde (disponível / reservado) */
  .badge-disponivel {
    @apply bg-green-100 text-green-700;
  }

  /* Vermelho (emprestado) */
  .badge-emprestado {
    @apply bg-red-100 text-red-700;
  }

  /* Laranja (pendente) */
  .badge-pendente {
    @apply bg-orange-100 text-orange-700;
  }
}

@layer components {
  .btnStatus{
    @apply p-3 flex px-6 mt-5 mb-5 rounded-lg items-center gap-2;
  }
  .btnStatus-pendente{
    @apply bg-orange-100 text-orange-700 border border-orange-700;
  }
  .btnStatus-reservado{
    @apply bg-green-100 text-green-700 border border-green-700;
  }
  .btnStatus-emprestado{
    @apply bg-red-100 text-red-700 border border-red-700;
  }
}

@layer components {
  .minBtnStatus{
    @apply flex  rounded-lg items-center gap-2;
  }
  .minBtnStatus-pendente{
    @apply bg-orange-100 text-orange-700 border border-orange-700;
  }
  .minBtnStatus-reservado{
    @apply bg-green-100 text-green-700 border border-green-700;
  }
  .minBtnStatus-emprestado{
    @apply bg-red-100 text-red-700 border border-red-700;
  }
}

@layer components{
  .badgeExpo{
    @apply flex items-center top-5 left-8 absolute bg-branco-50 px-6 py-2 rounded-2xl;
  }
  .badgeExpo-evento{
    @apply text-blue-500 font-bold;
  }
  .badgeExpo-destaque{
    @apply text-laranja-500 font-bold;
  }
  
}

@layer components{
  .btnForDetalhe{
    @apply w-full flex text-center text-xl justify-center p-4 py-3 rounded-lg;
  }
  .btnForDetalhe-ok{
    @apply bg-laranja-500 text-branco-100 border border-laranja-500;
  }
  .btnForDetalhe-ko{
    @apply bg-cinza-500 text-cinza-900 border border-cinza-900;
  }
}
